.news-show {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    flex: 1;
    padding: 15px;
    .content-box {
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
    .news-box {
        padding: 10px 15px;
        border-radius: 5px;
        color: #000;
        background: #6cf;
        display: inline-block;
    }
}
