.friends-list {
    height: 100%;
    overflow-y: auto;
    color: #fff;
    .friend {
        height: 60px;
        display: flex;
        align-items: center;
        margin: 0 10px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 3px;
        }
    }
    .avatar {
        width: 50px;
        height: 50px;
        -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.4));
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .nick-name {
        font-size: 13px;
    }
    .news-con {
        height: 60px;
        flex: 1;
        padding-left: 15px;
    }
    // 放大头像展示
    .big-avatar {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        .avatar-box {
            // max-height: 80%;
            img {
                max-height: 500px;
            }
        }
    }
}
