html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/img/2021-2233.webp'), url('./assets/img/2021-2233bg.webp');
}
h1,
h2,
h3,
p,
ul,
li,
div,
span,
input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style: none;
}
.main-in {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
